body {
  background-color:#e6f2ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 320px;
  margin-bottom: 30px;
}
/********************* TEXT *********************/
h1 {
  margin-top: 185px;
  text-transform: uppercase;
  font-size: 35px;
  color: white;
  text-align: center;
}
p {
  margin-left: 20px;
  color: white;
}
.dropdown-labels {
  margin-left: 20px;
  color: white;
  font-weight: bold;
}
.other-labels {
  margin-left: 20px;
  color: #214F8B;
  font-weight: bold;
}
/********************* SECTIONS *********************/
#container {
  width: 100%;  
  overflow: hidden;
}
#left-container {
  padding-top: 0;
  height: 3000px;
  width: 320px;
  background-color:#214F8B;  
  float: left;
  margin: 0;
  margin-top: 0;
}
#right-container {
  margin-left: 340px;
}
#visualisation {
  margin-top: 30px;
  width: 100%; overflow: hidden;
  height: 430px;
}
#visualisation1 {
  margin-top: 30px;
  width: 100%; overflow: hidden;
  height: 430px;
}
#histogram {
  width: 500px; 
  height: 430px;
  margin-left: 35px;
  float: left; 
}
#barplot {
  width: 400px; 
  height: 430px;
  margin-left:600px;
  margin-right: 20px;
  
}
#barplot1 {
  width: 400px; 
  height: 350px;
  margin-left:600px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 50px;
  float: bottom;
}
#barplot2 {
  width: 500px; 
  height: 350px;
  margin-left:35px;
  margin-top: -350px;
  margin-right: 2000px;
  float: left;
}
#data-extract {
  margin-top: 30px;
  width: 100%; overflow: hidden;
  height: 400px;
}
#table {
  height: 420px;
  width: 500px; 
  float: left;
  margin-left: 35px;
  margin-top: 15px;
}
#table-side {
  height: 1000px;
  width: 400px;
  margin-left: 600px;
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
/********************* BUTTONS *********************/
#update-button {
  width: 240px;
  height: 40px;
  border-radius: 5px;
  margin-left: 38px;
  margin-top: 30px;
  border: 0px;
  cursor: pointer;
  background-color: #F54545;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 15px;
}
#update-button:hover {
  background-color: #e7aeb5;
  color: white;
}
/********************* DROPDOWNS *********************/
.dropdown {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
.dropdown .Select-control{
  background-color: white;
}
.dropdown .Select-menu-outer{
  background-color: white;
}
.dropdown .Select-value{
  background-color: #F54545;
  color: white;
  font-size: 14px;  
}
.dropdown .VirtualizedSelectFocusedOption {
  background-color: #a5ecd1;
  color: black;
}
.dropdown .VirtualizedSelectOption  {
  font-size: 14px;
}
/********************* TOGGLES *********************/
.toggle {
  margin-top: 8px;
}
/********************* SLIDER *********************/
#n-slider {
  margin-top: 8px;
}
#n-slider .rc-slider-handle  {
  background-color: #e7aeb5;
  border: 0px;
}
#n-slider .rc-slider-track {
  background-color: #E6E6E6;
}
#n-slider .rc-slider-dot-active {  
  border-color: #E6E6E6;
}